{% extends "base.html" %}
{% load bootstrap3 %}

{% block body_block %}
  <br>
  <div class="myform">
      <div class="container">
        <h5>Debit Note: {{salesinvoice.pk}} </h5>
      <div class="row">
        <div class="col">
          <strong>Date:</strong> {{salesinvoice.date}}
        </div>
        <div class="col">
          <strong>Doc No:</strong> {{salesinvoice.doc_no}}
        </div>
      </div>
      <div class="row">
        <div class="col">

          <strong>Customer:</strong> {{salesinvoice.customer}}
        </div>
        <div class="col">
          <strong>Total Value:</strong> {{salesinvoice.debit}}
        </div>
        <div class="col">
          #
        </div>
      </div>

      <div class="row">
        <div class="col">
          <strong>Details:</strong> {{salesinvoice.details}}
        </div>
      </div>
      </div>
</div>

<br>
<a href="{% url 'sales:updatedebitnote' pk=salesinvoice.pk %}"
    class = 'btn btn-sm btn-fill btn-warning'>
    <span class='far fa-edit'></span></a>

<a href="{% url 'sales:deletedebitnote' pk=salesinvoice.pk %}"
    class = 'btn btn-sm btn-fill btn-danger'>
    <span class='fas fa-trash-alt'></span></a>
{% endblock %}
