{% extends "base.html" %}
{% load bootstrap3 %}

{% block body_block %}
  <h4>Receipt List</h4>
  <br>
  {% if user.is_authenticated %}
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Inv No</th>
            <th scope="col">Date</th>
            <th scope="col">Doc No</th>
            <th scope="col">Customer</th>
            <th scope="col">Credit</th>
            <th scope="col">View</th>
          </tr>
        </thead>
        <tbody>
          {% for salesinvoice in object_list %}
            {% if salesinvoice.doc_type == "RC" %}
            <tr>
                <th scope="row">#</th>
                <td>{{salesinvoice.doc_type}}</td>
                <td>{{salesinvoice.date}}</td>
                <td>{{salesinvoice.doc_no}}</td>
                <td>{{salesinvoice.customer}}</td>
                <td>{{salesinvoice.credit}}</td>
                <td><a href="{% url 'sales:rcdetail' pk=salesinvoice.pk %}">Click</a></td>

            </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
  {% endif %}
{% endblock %}
